<form action="<%= cats_url %>" method="post">
  <label for="name">
    Name: 
    <input id="name"type="text" name="cat[name]" value="<%= @cat.name %>">
  </label>
  
  <label for="sex">
    Sex: 
    <input id="sex"type="radio" name="cat[sex]" value="F">F
    <input id="sex"type="radio" name="cat[sex]" value="M">M
  </label>
  
  <label for="color">
    Color: 
    <select name="cat[color]">
      <option value="">--Please Select a Color--</option>
      <% Cat::COLORS.each do |color| %>
        <option value="<%= color %>"> <%= color %> </option>
      <% end %>
    </select>
  </label>
  
  <label for="birth_date">
    Birthdate: 
    <input id="birth_date" type="date" name="cat[birth_date]" value="<%= @cat.birth_date %>">
  </label>
  
  <label for="description">
    Description: 
    <textarea name="cat[description]" rows="3" cols="30"></textarea> 
  </label>
  
  <input type="submit" value="Create Cat">
</form>