<h1> <%= @cat.name %> </h1>
<ul>
  <li> Birthdate: <%= @cat.birth_date %> </li>
  <li> Color: <%= @cat.color %> </li>
  <li> Sex: <%= @cat.sex %> </li>
  <li> Description: <%= @cat.description %> </li>
</ul>